* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

.flappy {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    background-color: deepskyblue;
    overflow: hidden;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex; 
    flex-direction: column;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,68,1) 35%, rgba(0,212,255,1) 100%);
    height: 30px;
    width: 130px;
    border: 2px solid #000;
    
}

.barreira .corpo {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,68,1) 35%, rgba(0,212,255,1) 100%);
    height: 150px;
    width: 110px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.prueba {
    width: 200px;
    height: 200px;
    background-color: green;
}